<ul id="comments-list" data-product_id="<%= @product.id %>" data-current_user_id="<%= current_user.id %>">
  <% @comments.each do |comment| %>
      <li data-comment_id="<%= comment.id %>">
        <%= comment.user.present? ? comment.user.full_name : 'guest' %>:
        <%= comment.text %>

        <% if true || policy(comment).destroy? %>

            <%= link_to 'Remove',
                        product_comment_path(@product, comment),
                        class: 'btn btn-warning',
                        method: :delete %>
        <% end %>
      </li>
  <% end %>
</ul>

<ul class="comment-errors">
  <% if @comment.present? && @comment.errors.present? %>
      <% @comment.errors.messages.each do |field, message| %>
          <li> <%= field %> : <%= message %></li>
      <% end %>
  <% end %>
</ul>

<%= form_for [@product, @product.comments.build], remote: true do |f| %>
    <%= f.text_area :text, placeholder: 'Message' %> <br>
    <%= f.submit %>
<% end %>
