
<%= search_form_for @q, as: :log_search  do |f| %>
    <%= f.search_field :name_cont %>
    <%= f.submit 'search' %>
<% end %>
<br>
<ul id="commnets-list">
  <% @products.includes(:comments => [:user]).each do |product| %>
      <li>
        <%= link_to product.name, product_path(id: product.id) %>:
        <%= price_format(product.price) %>
        |
        (viewed: <%= product.view.value %>)
        commented by :
        <% product.comments.each do |comment| %>
            <%= comment.user&.full_name %>
        <% end %>
        <% if current_user %>
        <span class="product-like">
        <% if product.liked?(current_user.id) %>
            <%= link_to unlike_product_likes_path(product), method: :put, remote: true do %>
                unlike! (<%= product.like_count %>)
            <% end %>
        <% else %>
            <%= link_to like_product_likes_path(product), method: :put, remote: true do %>

                like! (<%= product.like_count %>)
            <% end %>
        <% end %>
        </span>
            <%= link_to 'Delete', product_path(product), method: :delete %>
            <!-- <a class="delete-product" href="<%= product_path(product) %>">delete</a>-->
        <% end %>
      </li>
  <% end %>
</ul>

<%= paginate @products, :theme => 'twitter-bootstrap-3' %>
<br>

<%= link_to 'New', new_product_path, class: 'btn btn-primary' %>
