<nav class="collapse navbar-collapse" id="bs-navbar">
  <ul class="nav navbar-nav">
    <% if user_signed_in? %>
        <li class="active">
          <%= link_to 'Products', products_path %>
        </li>
    <% end %>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <% if user_signed_in? %>
      <li>
        <%= link_to next_locale[:name],url_for(lang: next_locale&.[](:key)) %>
      </li>
        <li>
          <%= link_to me_users_path do %>
              <%= image_tag current_user.avatar.url(:thumb), size: '25x25' %>
          <% end %>
        </li>
        <li>
          <%= link_to "Change your password", edit_user_password_path %>
        </li>
        <li>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
        </li>
    <% else %>
        <li>
          <%= link_to 'Login', new_user_session_path %>
        </li>
        <li>
          <%= link_to 'Registration', new_user_registration_path %>
        </li>
    <% end %>
  </ul>
</nav>